QMONEY_URL='The URL of the QMoney instance to use'
QMONEY_USERNAME='Username of the QMoney account to use when requesting its API'
QMONEY_PASSWORD='Password of the QMoney account to use when requesting its API'
QMONEY_TOKEN='Basic token to be authorized to call public endpoints such as /login'